<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title 體感溫差 Sensation Gap
		//- link(rel="stylesheet", href="assets/styles/simplebar.css")
		link(rel="stylesheet", href="assets/styles/main.css")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(name="title" content="體感溫差 Sensation Gap")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(property="og:title" content="體感溫差 Sensation Gap")
		meta(property="og:type" content="website")
		meta(property="og:url" content="")
		meta(property="og:image" content="")
		meta(property="og:description" content="")
		meta(property="og:site_name" content="")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.3/mobile-detect.min.js")
		script.
			var md = new MobileDetect(window.navigator.userAgent);
			if(md.mobile()) {
				window.location.replace('./m.html');
			}
	body
		.crt
			.noise
				img(src="assets/images/noise.png", alt="")
			.line
			.frame
				img(src="assets/images/crt.png", alt="")
		.intro
			video(src="assets/images/bg.mp4" autoplay loop muted)

		.art-lightbox
			.art-container.active(data-art=1)
				.art
					//- iframe(src="")
				.art-info-container
					.btn-info
					.btn-home
					.art-info
						p.title 鄭先喻
						p.sub-title Mission Failed
						.br
						.br
						p MISSION FAILED源於2014年太陽花學運期間，立委邱毅接受中國央視專訪時，將立法院內一堆黃色物體指為香蕉，實際調查後證實應為太陽花的烏龍事件。在MISSION FAILED中玩家必須手持槍枝射殺追殺來的香蕉，玩家雖然可以補充彈藥和醫療，但結局終為mission failed。
						.br
						p MISSION FAILED originated from the 2014 Sun Flower Academy. When the legislator Qiu Yi accepted an interview with China's CCTV, he pointed a pile of yellow objects in the court as bananas. The actual investigation confirmed that it should be an oolong event of the sun flower. In the MISSION FAILED, the player must shoot the bananas with the guns. The player can supplement the ammunition and medical treatment, but the final result is mission failed.

			.art-container(data-art=2)
				.art
					video(src="https://high-range.surge.sh/art-2.mp4")
				.art-info-container
					.btn-info
					.btn-home
					.art-info
						p.title 楊傑懷 
						p.sub-title 如何向一支手機解釋愛情
						p How To Explain Love To An iPhone
						.br
						.br
						p 蘋果行動裝置的人工智慧助理——Siri，原開發意圖是讓使用者能夠以自然語音的方式與裝置互動，並完成搜尋資料、查詢天氣、撥打電話、發送簡訊等服務。當人工智慧技術越趨發達，人們對機器的需求就不只是基本的實用功能，因此蘋果公司將 Siri 系統設計為能夠和使用者進行日常對話的個人助理。然而它理解人類話語的能力仍舊非常有限，藉由反覆發出「你愛我嗎?」的感性提問，我在這個過程中釐清人和科技之間互為主體的關係。
						.br
						p Apple's mobile device's artificial intelligence assistant, Siri, was originally designed to allow users to interact with the device in a natural voice, and to complete services such as searching for information, checking the weather, making calls, and sending newsletters. As artificial intelligence technology becomes more developed, people's demand for machines is not just a basic practical function, so Apple designed the Siri system as a personal assistant who can conduct daily conversations with users. However, its ability to understand human discourse is still very limited. By repeating the perceptual question of "Do you love me?", I clarify the relationship between human and technology in this process.

			.art-container(data-art=3)
				.art
					//- iframe(src="http://dollar-post.com/")
				.art-info-container
					//- .btn-info
					.btn-home
					.art-info

		.page-wrapper
			.left
				.logo
					img(src="assets/images/logo.png", alt="")
				.menu
					.menu-header
						.header-icon
							img(src="assets/images/icon-menu1.png", alt="")
						.header-content
							img(src="assets/images/menu.png", alt="")
						.header-icon
							img(src="assets/images/icon-menu2.png", alt="")
					.menu-arrow
						.arrow.at-6
							img(src="assets/images/arrow.png", alt="")
					.menu-content
						.menu-row(data-menu=1)
							//- .row-icon
								include ./assets/images/icon-menu-row.svg
							p.row-text 
								span 策展人 
								span CURATOR
						.menu-row(data-menu=2)
							//- .row-icon
								include ./assets/images/icon-menu-row.svg
							p.row-text 
								span 策展論述 
								span ESSAY
						.menu-row(data-menu=3)
							//- .row-icon
								include ./assets/images/icon-menu-row.svg
							p.row-text 
								span 藝術家 
								span ARTISTS
						.menu-row(data-menu=4)
							//- .row-icon
								include ./assets/images/icon-menu-row.svg
							p.row-text 
								span 關於本計畫 
								span ABOUT
						
						.menu-row(data-menu=5)
							//- .row-icon
								include ./assets/images/icon-menu-row.svg
							p.row-text 
								span 聊天室
								span CHAT ROOM
						.menu-row.active(data-menu=6)
							//- .row-icon
								include ./assets/images/icon-menu-row.svg
							p.row-text 
								span 體感溫差 
								span HOMEPAGE
				.clock
					.header
						.header-icon
							img(src="assets/images/icon-clock.png", alt="")
						.header-content
							p.time 00:00:00
					.content
						img.hourglass-gif.active(src="assets/images/hourglass.gif", alt="")
						.hourglass-turn
							img(src="assets/images/hourglass1.png", alt="")
							img(src="assets/images/hourglass2.png", alt="")
							img(src="assets/images/hourglass3.png", alt="")
			.center
				.main-screen
					.screen-bg
						video(src="assets/images/bg.mp4" autoplay loop muted)
					section.homepage.active(data-section=6)
						.screen-container
							canvas.screen
					section.curator(data-section=1)
						.window
							.window-header
								.header-icon
									img(src="assets/images/icon-curator.png", alt="")
								.header-content
									p 策展人 
									p CURATOR
							.window-bottom
								.window-content-fixed
									.pic
										img(src="assets/images/ex1.jpg", alt="")
									.name
										p 魏金禾
										p WEI CHIN-HO
									.link
										a(href="")
											img(src="assets/images/icon-web.png", alt="")
										a(href="")
											img(src="assets/images/icon-ig.png", alt="")
								.window-content
									.window-content-container.empty-top
										p 1995年生於桃園，畢業於國立彰化師範大學美術系，創作多以油畫和裝置為主，對藝術史論抱有興趣並持續自主探索。目前潛伏在台北某機構，觀察藝術工作者的生存百態。
										p 1984 born in Kaohsiung, Taiwan. Artist & Software developer based in Taipei now. Most of Cheng's works are electronic installations, software, experimental bio-electronic devices. His works are concerned with the relationship between human behavior, emotion, software and machine. He tries to bring out the meaning of life through his works that are filled with his own observation and feelings toward society & environment in a humorous way. He currently focuses on bioelectronic researches, such as free-energy, intelligent sound and developing creative art tools (software and hardware). 
								.window-scrollbar
									.up-btn
										img(src="assets/images/scroll-arrow.png", alt="")
									.scrollbar
										.bar
									.down-btn
										img(src="assets/images/scroll-arrow.png", alt="")
					section.essay(data-section=2)
						.window
							.window-header
								.header-icon
									img(src="assets/images/icon-curator.png", alt="")
								.header-content
									p 策展論述
									p ESSAY
							.window-bottom
								.window-content
									.window-content-container
										p 在緊密連結又缺乏理解情感能力的編碼世界中，充斥著超常刺激(supernormal stimulus)挑逗著人類的本能，使有機物間喪失獨有的溫度感。雖生於肉身，拜虛擬網絡所賜，現世的人們得以存在現實與虛擬之間，日日夜夜，上傳、下載、標記、回覆，不歇息地快速來回穿梭，好似紅血球持續運輸氧氣，以確保脈動著龐大的網絡身軀，滿足現代生存的需求與欲望。當社會結構越發向虛擬世界靠攏運行時，我們何以抽離身體，抹去虛實間的界限，卻仍保持靈魂的溫度？
											
										p 藉由藝術家們重新檢視虛實差異間的經驗，由不同面向回歸至個體探索其中的創造性，並以科技媒介討論自身、社會以及其連結關係的影響與狀態。由片段的生活經驗作為切入點，試圖在無機的網絡中喚起體感、情感與共感三種不同的感知層次，不僅觸及最私密的身體經驗，也返回社會的群體經歷，重新賦予我們對虛擬間溫度的想像與可能性。

										p 人體能感受時間流動快慢形成的溫差，而吳宜曄潛入時間的流動，體悟其中的溫度。《Dollar-post》是一項特製的電子郵件系統，藉由選擇不同的郵票，包括鴿子、驢子、船以及飛機，信件將模擬所選的媒介速度寄送。
										
										p 除身體感受溫度外，楊傑懷深入個體錯綜複雜的內心，感性思考人與科技間互為主體的關係，探索人機之間的情感溫差。作品《如何向手機解釋愛情》不斷向iPhone內建的人工智能助理Siri提問「你愛我嗎？你愛我嗎？」，但無論如何訴說愛語，Siri始終含糊其辭地應答。
										p 個體間因彼此傳導溫度形成同溫層，擅長標籤化、議題化的網絡社群更是如此。鄭先喻的《MISSION FAILED》將個人旁觀學運的經驗重構於虛擬空間，戲謔地呈現本該嚴肅的激烈抗爭狀態，間接揭露虛擬與現實抗爭運動的熱度差異。在屬於太陽花領地的生存遊戲中，即使不斷窮盡努力地射擊香蕉，玩家的結局終為MISSION FAILED。

										p 線上策展得以超越空間與時間的藩籬，應存在更多擴展策展意涵的可能性。然而於不乏虛擬策展的現今，藝術作品的上載和保存技術日益成熟，卻難以避免線上陳列之作品淪為實體展宣傳的附屬品。展覽《體感溫差》基於未來展覽形式將面臨全面線上化的可能提出發問：如何在生活世界逐漸數據化後仍保留創作的溫度？本次在虛擬場域進行實驗的創作者與策展人們，分別以作品檢視溫差中不同的情感層次，並隨著展覽上線，再次被虛擬世界檢驗。虛實間相互呼應，或許也是體感溫差間的一種樣貌。

										.br

										p In a coded world that is tightly connected and lacks the ability to understand emotions, it is full of supernormal stimulus to tease human instinct, and to lose the unique sense of temperature between organisms. Although born in the flesh, thanks to the virtual network, the people of this world can exist between reality and virtual, day, night, night, upload, download, mark, reply, and quickly shuttle back and forth, as if the red blood cells continue to transport oxygen to ensure The pulse of the huge network body meets the needs and desires of modern survival. When the social structure moves closer to the virtual world, why do we pull away from the body and erase the boundaries between the real and the virtual, but still maintain the temperature of the soul?

										p Through the artist's re-examination of the experience between the virtual and the real differences, the different aspects of returning to the individual to explore the creativity, and the use of technology media to discuss the influence and status of themselves, society and their connected relationship. Using the life experience of the fragment as an entry point, trying to evoke three different levels of perception of body, emotion and common sense in the inorganic network, not only touching the most intimate body experience, but also returning to the social group experience, re-giving us the virtual room temperature Imagination and possibilities.

										p The human body can feel the temperature difference formed by the rapid flow of time, and Wu Yizhen sneaked into the flow of time and realized the temperature. Dollar-post is a purpose-built e-mail system that sends samples of simulated media speeds by selecting different stamps, including pigeons, scorpions, boats and planes.
										p In addition to the body's temperature perception, Yang Jiehuai went deep into the complex inner heart of the individual, emotionally thinking about the relationship between people and science and technology, and exploring the emotional temperature difference between man and machine. The work "How to Explain Love to Mobile Phones" constantly asks "I love you? Do you love me?", but the Siri has always responded vaguely.
										p The inter-individuals form a stratosphere by conducting temperatures with each other, especially for network communities that are good at tagging and topicalization. Zheng Xianyu's "MISSION FAILED" reconstructs the experience of personal spectatorship in the virtual space, and presents the serious and fierce resistance in a playful manner, indirectly exposing the difference between the virtual and the reality. In the survival game belonging to the Sun Flower Land, even if the banana is continuously and effortlessly shot, the player's ending is MISSION FAILED.

										p Online curation can transcend the barriers of space and time, and there should be more possibilities to expand the curatorial implications. However, in today's virtual curation, the uploading and preservation techniques of art works are becoming more and more mature, but it is difficult to avoid the online display works as an accessory for the physical exhibition. The exhibition "Sensual Temperature Difference" will face the possibility of full onlineization based on the future exhibition form: How to maintain the temperature of creation after the life world is gradually digitized? The creators and curators who conducted the experiments in the virtual field respectively examined the different emotional levels in the temperature difference and tested them again with the virtual world as the exhibition went online. The virtual and real echoes each other, and perhaps it is also a kind of appearance between the temperature difference.

								.window-scrollbar
									.up-btn
										img(src="assets/images/scroll-arrow.png", alt="")
									.scrollbar
										.bar
									.down-btn
										img(src="assets/images/scroll-arrow.png", alt="")
					section.artists(data-section=3)
						.windows
							.window.active(data-tab=1)
								.window-header
									.header-icon
										img(src="assets/images/icon-curator.png", alt="")
									.header-content
										p 藝術家
										p ARTIST
								.window-bottom
									.window-content-fixed
										.pic
											img(src="assets/images/ex1.jpg", alt="")
										.name
											p 鄭先喻
											p CHENG HSIEN-YU
										.link
											a(href="")
												img(src="assets/images/icon-web.png", alt="")
											//- a(href="")
											//- 	img(src="assets/images/icon-ig.png", alt="")
									.window-content
										.window-content-container.empty-top
											p 1995年生於桃園，畢業於國立彰化師範大學美術系，創作多以油畫和裝置為主，對藝術史論抱有興趣並持續自主探索。目前潛伏在台北某機構，觀察藝術工作者的生存百態。
											p 1984 born in Kaohsiung, Taiwan. Artist & Software developer based in Taipei now. Most of Cheng's works are electronic installations, software, experimental bio-electronic devices. His works are concerned with the relationship between human behavior, emotion, software and machine. He tries to bring out the meaning of life through his works that are filled with his own observation and feelings toward society & environment in a humorous way. He currently focuses on bioelectronic researches, such as free-energy, intelligent sound and developing creative art tools (software and hardware). 
									.window-scrollbar
										.up-btn
											img(src="assets/images/scroll-arrow.png", alt="")
										.scrollbar
											.bar
										.down-btn
											img(src="assets/images/scroll-arrow.png", alt="")
							.window(data-tab=2)
								.window-header
									.header-icon
										img(src="assets/images/icon-curator.png", alt="")
									.header-content
										p 藝術家
										p ARTIST
								.window-bottom
									.window-content-fixed
										.pic
											img(src="assets/images/ex1.jpg", alt="")
										.name
											p 鄭先喻
											p CHENG HSIEN-YU
										.link
											a(href="")
												img(src="assets/images/icon-web.png", alt="")
											//- a(href="")
											//- 	img(src="assets/images/icon-ig.png", alt="")
									.window-content
										.window-content-container.empty-top
											p 1995年生於桃園，畢業於國立彰化師範大學美術系，創作多以油畫和裝置為主，對藝術史論抱有興趣並持續自主探索。目前潛伏在台北某機構，觀察藝術工作者的生存百態。
											p 1984 born in Kaohsiung, Taiwan. Artist & Software developer based in Taipei now. Most of Cheng's works are electronic installations, software, experimental bio-electronic devices. His works are concerned with the relationship between human behavior, emotion, software and machine. He tries to bring out the meaning of life through his works that are filled with his own observation and feelings toward society & environment in a humorous way. He currently focuses on bioelectronic researches, such as free-energy, intelligent sound and developing creative art tools (software and hardware). 
									.window-scrollbar
										.up-btn
											img(src="assets/images/scroll-arrow.png", alt="")
										.scrollbar
											.bar
										.down-btn
											img(src="assets/images/scroll-arrow.png", alt="")
							.window(data-tab=3)
								.window-header
									.header-icon
										img(src="assets/images/icon-curator.png", alt="")
									.header-content
										p 藝術家
										p ARTIST
								.window-bottom
									.window-content-fixed
										.pic
											img(src="assets/images/ex1.jpg", alt="")
										.name
											p 鄭先喻
											p CHENG HSIEN-YU
										.link
											a(href="")
												img(src="assets/images/icon-web.png", alt="")
											//- a(href="")
											//- 	img(src="assets/images/icon-ig.png", alt="")
									.window-content
										.window-content-container.empty-top
											p 1995年生於桃園，畢業於國立彰化師範大學美術系，創作多以油畫和裝置為主，對藝術史論抱有興趣並持續自主探索。目前潛伏在台北某機構，觀察藝術工作者的生存百態。
											p 1984 born in Kaohsiung, Taiwan. Artist & Software developer based in Taipei now. Most of Cheng's works are electronic installations, software, experimental bio-electronic devices. His works are concerned with the relationship between human behavior, emotion, software and machine. He tries to bring out the meaning of life through his works that are filled with his own observation and feelings toward society & environment in a humorous way. He currently focuses on bioelectronic researches, such as free-energy, intelligent sound and developing creative art tools (software and hardware). 
									.window-scrollbar
										.up-btn
											img(src="assets/images/scroll-arrow.png", alt="")
										.scrollbar
											.bar
										.down-btn
											img(src="assets/images/scroll-arrow.png", alt="")
						.window-switches
							.window-switch.active(data-tab=1)
								include assets/images/icon-artist.svg
							.window-switch(data-tab=2)
								include assets/images/icon-artist.svg
							.window-switch(data-tab=3)
								include assets/images/icon-artist.svg
					section.about(data-section=4)
						.windows
							.window.active(data-tab=1)
								.window-header
									.header-icon
										img(src="assets/images/icon-curator.png", alt="")
									.header-content
										p 關於本計畫 
										p ABOUT
								.window-bottom
									.window-content-fixed
										.pic
											img(src="assets/images/ex1.jpg", alt="")
										.name
											p 鄭先喻
											p CHENG HSIEN-YU
										.link
											a(href="")
												img(src="assets/images/icon-web.png", alt="")
											//- a(href="")
											//- 	img(src="assets/images/icon-ig.png", alt="")
									.window-content
										.window-content-container.empty-top
											p 1995年生於桃園，畢業於國立彰化師範大學美術系，創作多以油畫和裝置為主，對藝術史論抱有興趣並持續自主探索。目前潛伏在台北某機構，觀察藝術工作者的生存百態。
											p 1984 born in Kaohsiung, Taiwan. Artist & Software developer based in Taipei now. Most of Cheng's works are electronic installations, software, experimental bio-electronic devices. His works are concerned with the relationship between human behavior, emotion, software and machine. He tries to bring out the meaning of life through his works that are filled with his own observation and feelings toward society & environment in a humorous way. He currently focuses on bioelectronic researches, such as free-energy, intelligent sound and developing creative art tools (software and hardware). 
									.window-scrollbar
										.up-btn
											img(src="assets/images/scroll-arrow.png", alt="")
										.scrollbar
											.bar
										.down-btn
											img(src="assets/images/scroll-arrow.png", alt="")
							.window(data-tab=2)
								.window-header
									.header-icon
										img(src="assets/images/icon-curator.png", alt="")
									.header-content
										p 關於本計畫 
										p ABOUT
								.window-bottom
									.window-content-fixed
										.pic
											img(src="assets/images/ex1.jpg", alt="")
										.name
											p 鄭先喻
											p CHENG HSIEN-YU
										.link
											a(href="")
												img(src="assets/images/icon-web.png", alt="")
											//- a(href="")
											//- 	img(src="assets/images/icon-ig.png", alt="")
									.window-content
										.window-content-container.empty-top
											p 1995年生於桃園，畢業於國立彰化師範大學美術系，創作多以油畫和裝置為主，對藝術史論抱有興趣並持續自主探索。目前潛伏在台北某機構，觀察藝術工作者的生存百態。
											p 1984 born in Kaohsiung, Taiwan. Artist & Software developer based in Taipei now. Most of Cheng's works are electronic installations, software, experimental bio-electronic devices. His works are concerned with the relationship between human behavior, emotion, software and machine. He tries to bring out the meaning of life through his works that are filled with his own observation and feelings toward society & environment in a humorous way. He currently focuses on bioelectronic researches, such as free-energy, intelligent sound and developing creative art tools (software and hardware). 
									.window-scrollbar
										.up-btn
											img(src="assets/images/scroll-arrow.png", alt="")
										.scrollbar
											.bar
										.down-btn
											img(src="assets/images/scroll-arrow.png", alt="")
						.window-switches
							.window-switch.active(data-tab=1)
								include assets/images/icon-artist.svg
							.window-switch(data-tab=2)
								include assets/images/icon-artist.svg
					section.chatroom(data-section=5)
						.chat-left
							.youtube
								iframe(src="https://www.youtube.com/embed/Dxq0IqhT3XI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							.form
								.form-header
									.header-icon
										img(src="assets/images/icon-curator.png", alt="")
									.header-content
										p 體感溫室
										p CHAT ROOM
								.form-content
									.content-box
										.comment-icon
											img.active(src="assets/images/ex1.jpg", alt="", data-avatar=1)
											img(src="assets/images/ex2.jpg", alt="", data-avatar=2)
											img(src="assets/images/ex3.jpg", alt="", data-avatar=3)
											img(src="assets/images/ex4.jpg", alt="", data-avatar=4)
											//- .comment-change
											//- 	p 換頭貼
										.comment-name
											.name-left
												p name
											.name-input
												input(type="text" maxlength="10")
										.comment-content
											textarea(maxlength="100" placeholder="type something" autofocus)
										.comment-send
											p send

						.chat-right
							.comment
								.window-content
									.window-content-container
										//- .comment
										//- 	.comment-icon
										//- 		img(src="assets/images/ex2.jpg", alt="")
										//- 	.comment-name
										//- 		p 王小明
										//- 	.comment-content
										//- 		p 冷藏約30分鐘以上即可！
								.window-scrollbar
									.up-btn
										img(src="assets/images/scroll-arrow.png", alt="")
									.scrollbar
										.bar
									.down-btn
										img(src="assets/images/scroll-arrow.png", alt="")
					.screen-animate
						.screen-animate-top
						.screen-animate-bottom
						.screen-animate-left
						.screen-animate-right
				.marquee
					.marquee-icon
						img(src="assets/images/icon-mar.png", alt="")
					.marquee-content 
						marquee 我不知道該回什麼，只好貼上乳酪蛋糕做法，自己做健康又好吃，準備所有材料，低筋麵粉過篩，奶油放入耐熱容器裡，隔水加熱使其融化，檸檬清洗乾淨外皮再刨絲及榨汁備用，先將奶油乳酪放置於室溫軟化，製作餅皮，餅乾放入較厚的食物袋中用桿麵棍敲碎，將融化的奶油稍微冷卻後備用，將奶油倒入餅乾袋裡，攪拌混合，倒入模型中，用杯子或湯匙等工具輕壓，使其鋪滿模型底部，然後放入冰箱冷藏定型，冷藏約30分鐘以上即可  
			//- .right
				.status
					.battery
						img(src="assets/images/battery.png", alt="")
					.marquee
						.marquee-icon
							img(src="assets/images/icon-mar.png", alt="")
						.marquee-content 
							marquee 南無阿彌陀佛南無阿彌陀佛南無阿彌陀佛
				.countdown
					.header
						.header-icon
							img(src="assets/images/icon-countdown.png", alt="")
						.header-content
							p 展覽倒數
							p Countdown
					.content
						.countdown-box
							p 
								span.date 0
								span Days Left ......
				.date
					.header
						.header-icon
							img(src="assets/images/icon-date.png", alt="")
						.header-content
							p 展覽時間
							p Date
					.content
						.content-box
							p 2018/10/30-2018/12/31
							p AM11:00-PM18:30
							p “Closed On Son&Mon”

				.venue
					.header
						.header-icon
							img(src="assets/images/icon-venue.png", alt="")
						.header-content
							p 展覽地點
							p Venue
					.content
						.content-box
							.left
								.texts
									p.zh 台北數位藝術中心
									p Digital Art Center, Taipei
									.br
									p.zh 11158
									p.zh 台北市士林區福華路180號 
									p No.180, Fuhua Rd., 
									p Shilin Dist., Taipei, Taiwan
							.right
								a(href="https://goo.gl/maps/o4vyorikbzK2", target="_blank")
									img(src="assets/images/map.png", alt="")
				.tel
					.header
						.header-icon
							img(src="assets/images/icon-tel.png", alt="")
						.header-content
							p 聯絡電話
							p Telephone
					.content
						.content-box
							p +886 2 28345066
				.info
					.header
						.header-icon
							img(src="assets/images/icon-info.png", alt="")
						.header-content
							p 更多資訊
							p Infomation
					.content
						.content-box
							a(href="http://dac.taipei/", target="_blank")
								img(src="assets/images/info.png", alt="")
		//- .lightbox-wrapper
		//- 	section.art
		//- 		.art-header
		//- 			.title banana.
		//- 			.close
		//- 				span
		//- 				span
		//- 		.art-content
		//- 			iframe(src="http://dollar-post.com/")
		.cursor
			img(src="assets/images/cursor.png", alt="")

	
	script(src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js")
	script.
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyCcOX_VGqtiisNikz6yfvd7loQf1aTDDcw",
			authDomain: "thermal-4d159.firebaseapp.com",
			databaseURL: "https://thermal-4d159.firebaseio.com",
			projectId: "thermal-4d159",
			storageBucket: "thermal-4d159.appspot.com",
			messagingSenderId: "731795832827"
		};
		firebase.initializeApp(config);


	script(src="assets/scripts/jquery-3.3.1.min.js")
	//- script(src="assets/scripts/jquery.mousewheel.min.js")
	//- script(src="assets/scripts/lodash.min.js")
	//- script(src="assets/scripts/tinycolor-min.js")
	//- script(src="assets/scripts/perlin.js")
	//- script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
	//- script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
	//- script(src="https://hammerjs.github.io/dist/hammer.js")
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js")
	//- script(src="https://rawgit.com/chinchang/screenlog.js/master/screenlog.js")

	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js")
	//- script(src="assets/scripts/deltae.global.min.js")



	script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js")
	script(src="https://cdn.jsdelivr.net/npm/pixi-filters@2.6.1/dist/pixi-filters.js")
	script(src="assets/scripts/lodash.min.js")
	script(src="assets/scripts/tinycolor-min.js")
	script(src="assets/scripts/perlin.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/PixiPlugin.min.js")

	script(src="assets/scripts/scrollbar.js")

	script(src="assets/scripts/main.js")

	script(src="assets/scripts/thermal.js")

	//- script(src="assets/scripts/color.js")
	